.current-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.current-date > button {
  border: none;
  background-color: transparent;
}

.interactive-days > h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
}

.interactive-days {
  display: grid;
  grid-template-columns: repeat(7, 4.25rem);
  margin-bottom: 1rem;
  justify-content: center;
}

.interactive-days > button {
  width: 100%;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  max-width: 50px;
}
