.ticket {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 3px solid var(--colour-border);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 24px;
  background-color: var(--colour-background);
}

.ticket > img {
  height: auto;
  border-radius: 25px;
  width: auto;
  aspect-ratio: 1 / 1;
  max-width: 120px;
  object-fit: cover;
}

.ticket > .ticket-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ticket > .ticket-content > h2 {
  margin: 0;
}

.ticket > .ticket-content > p {
  margin: 2px 0 0;
}

.ticket > button {
  margin-left: auto;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: var(--colour-button);
  transition: background-color 0.3s ease;
}

.ticket > button:hover {
  background-color: var(--colour-accent);
}

.extra-content {
  display: flex;
  flex-direction: row;
}

.extra-content > p {
  font-size: smaller;
}

.extra-content > button {
  margin-left: auto;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: var(--colour-button);
  transition: background-color 0.3s ease;
}

.extra-content > button:hover {
  background-color: var(--colour-accent);
}
