/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&display=swap");

/* Set global variables */
:root {
  --colour-button: #FF8E6B;
  --colour-accent: #AD645C;
  --colour-background: #FFBF6B;
  --colour-border: #84AD4E;
  --colour-other: #D8D888;
  --colour-text: #000000;

  --font-header: "League Spartan";
  --font-text: "Arimo";
}
