/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&display=swap");

/* Set global variables */
:root {
  --colour-button: #ff8e6b;
  --colour-accent: #ad645c;
  --colour-background: #ffbf6b;
  --colour-border: #84ad4e;
  --colour-other: #d8d888;
  --colour-text: #000000;
  --colour-text-muted: #333333;

  --font-header: "League Spartan";
  --font-text: "Arimo";
}
