<div class="footerCategory">
  <h3 class="footerCategoryTitle">Pages</h3>
  <ul class="footerCategoryContents">
    <li class="footerCategoryContentsItem">
      <a href="/frontend/index.html">Home</a>
    </li>
    <li class="footerCategoryContentsItem">
      <a href="/frontend/pages/basket.html">Basket</a>
    </li>
    <li class="footerCategoryContentsItem">
      <a href="/frontend/pages/calendar.html">Calendar</a>
    </li>
  </ul>
</div>
<div class="footerCategory">
  <h3 class="footerCategoryTitle">Contact Us</h3>
  <ul class="footerCategoryContents">
    <li class="footerCategoryContentsItem">
      <a href="mailto:support@safariheights.co.uk"
        >support@safariheights.co.uk</a
      >
    </li>
    <li class="footerCategoryContentsItem"><p>+44 7776 529 050</p></li>
  </ul>
</div>
