<footer>
  <div class="footerCategory">
    <h3 class="footerCategoryTitle">Title</h3>
    <ul class="footerCategoryContents">
      <li class="footerCategoryContentsItem"><a href="#">Item</a></li>
    </ul>
  </div>

  <div class="footerCategory">
    <h3 class="footerCategoryTitle">Title</h3>
    <ul class="footerCategoryContents">
      <li class="footerCategoryContentsItem"><a href="#">Item</a></li>
    </ul>
  </div>

  <div class="footerCategory">
    <h3 class="footerCategoryTitle">Title</h3>
    <ul class="footerCategoryContents">
      <li class="footerCategoryContentsItem"><a href="#">Item</a></li>
    </ul>
  </div>
</footer>
