footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--colour-other);
  box-sizing: border-box;
  border-top: 3px solid var(--colour-border);
}

footer .footerCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 13rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer .footerCategory ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footerCategory ul li a,
footer .footerCategory ul li p {
  text-decoration: none;
  color: var(--colour-text);
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .footerCategory {
    height: auto;
  }
}
