.navbar {
  background-color: var(--colour-other);
  border-radius: 14px;
  padding: 10px;
  margin: 0.5rem;
}

.navbar-brand {
  font-family: var(--font-header);
  font-size: xx-large;
}

.btn {
  font-family: var(--font-text);
  background-color: var(--colour-button);
  color: var(--colour-text);
  border: 2px solid var(--colour-border);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--colour-accent);
}
